body{
    background-color: rgb(175, 70, 66);
    text-align: center;
}

p{
    color: rgb(14, 10, 24);  
}

p{
    width: 80%;
}

h1{
    font-style: oblique;
}

.halloween1978.png {
    width: 40%;
    text-align: center;
}
